<template>
  <section class="card" :class="{ selected: weather.selected }">
    <header class="text-align-center">
      {{ weather.name }}, {{ weather.country }}
    </header>
    <article class="d-flex justify-content-center flex-1">
      <LoadingAnimation v-if="weather.loading" />
      <div
        class="d-flex flex-col w-100 align-items-center justify-content-center"
        v-if="!weather.loading && weather.hasError"
      >
        <span class="text-fg-red text-font-bold">Something went wrong</span>
        <button class="btn-pill my-1" @click.stop="reload(weather)">
          Try Again
        </button>
      </div>
      <div
        class="d-flex flex-col w-100"
        v-if="!weather.loading && !weather.hasError"
      >
        <div
          class="
            temperature-container
            d-flex
            h-100
            justify-content-center
            align-items-center
          "
          :class="temperatureColor"
        >
          <div class="d-flex align-items-start">
            <span>{{ temperatureFormatted }}</span
            ><span>{{ temperatureSymbol }}</span>
          </div>
        </div>
        <WeatherDetails v-if="weather.selected" :details="weather.data?.main" />
        <footer class="text-align-center">
          Updated at {{ weather.updateTime }}
        </footer>
      </div>
    </article>
  </section>
</template>
<script>
import { Units } from '@/helpers/measureUnits'
import { computed, defineComponent } from 'vue'
import WeatherDetails from './WeatherDetails.vue'

export default defineComponent({
  components: {
    WeatherDetails
  },
  props: {
    weather: {
      type: Object,
      required: true
    }
  },
  setup(props) {
    const temperature = computed(() => props.weather.data?.main?.temp)
    const temperatureColor = computed(() => {
      if (temperature.value <= 5) {
        return { 'text-fg-blue': true }
      } else if (temperature.value > 5 && temperature.value <= 25) {
        return { 'text-fg-orange': true }
      }

      return { 'text-fg-red': true }
    })

    const temperatureFormatted = computed(() => {
      if (temperature.value) {
        return temperature.value.toLocaleString(undefined, {
          maximumFractionDigits: 0
        })
      }
      return null
    })

    const temperatureSymbol = computed(() => {
      if (temperature.value) {
        return Units['temperature'].symbol
      }
      return null
    })

    function reload(weather) {
      weather.reload()
    }

    return {
      temperatureFormatted,
      temperatureSymbol,
      temperatureColor,
      reload
    }
  }
})
</script>
<style lang="scss" scoped>
@import '~@styles/colors.scss';
@import '~@styles/consts.scss';

header {
  padding: 15px;
}

.temperature-container {
  font-size: 66px;

  > div span:last-child {
    margin-top: 12px;
    font-size: 44px;
  }
}

footer {
  margin-top: auto;
  margin-bottom: 17px;
  color: $light-gray;
  font-size: 10px;
  background: $card-footer;
}

@media only screen and (min-width: $mobile-width-limit) {
  footer {
    font-size: 8px;
  }
}

@media only screen and (min-width: $desktop-width-limit) {
  .temperature-container {
    font-size: 84px;
  }

  footer {
    font-size: 10px;
  }
}
</style>
