<template>
  <div class="cards d-flex align-items-center">
    <WeatherCard
      v-for="(weather, i) in weathers"
      :key="i"
      :weather="weather"
      @click="switchWeather(i)"
    />
  </div>
</template>

<script>
import { defineComponent, ref, reactive, watch } from 'vue'
import cities from '@/assets/cities.json'
import WeatherCard from './WeatherCard.vue'
import { weatherContext } from './weatherContext'
import { windowContext } from '@/helpers/windowContext'
import { RefreshTime } from '@/services/AutoRefresher'

export default defineComponent({
  components: {
    WeatherCard
  },
  setup() {
    const weathers = reactive([])
    const windowCtx = windowContext()
    const selIndex = ref(0)

    async function fetchWeathers() {
      return new Promise((resolve, reject) => {
        const promises = cities.map((city, index) => {
          weathers[index] = weatherContext(city)
          return weathers[index].reload()
        })
        Promise.all(promises).then(resolve).catch(reject)
      })
    }

    function selectWeather(index) {
      weathers.forEach((weather) => (weather.selected = false))
      weathers[index].selected = true
    }

    function checkDevice({ isMobile }) {
      selIndex.value = 0

      if (!isMobile) {
        selIndex.value = Math.floor(weathers.length / 2)
      }

      selectWeather(selIndex.value)
    }

    function switchWeather(fromIndex) {
      selectWeather(fromIndex)
      const oldWeather = weathers[selIndex.value]
      weathers[selIndex.value] = weathers[fromIndex]
      weathers[fromIndex] = oldWeather
    }

    async function checkAndFetch() {
      if (!localStorage.getItem('weathers-cache')) {
        await fetchWeathers()
        localStorage.setItem('weathers-cache', JSON.stringify(weathers))
      } else {
        const weathersCache = JSON.parse(localStorage.getItem('weathers-cache'))
        weathersCache.forEach((weatherCache, index) => {
          const currDate = new Date()
          const tOld = new Date(
            currDate.toDateString() + ' ' + weatherCache.updateTime
          ).getTime()

          if (currDate.getTime() > tOld + RefreshTime) {
            clearCheckAndFetch()
          } else {
            weathers[index] = weatherContext(weatherCache)
          }
        })
      }

      checkDevice(windowCtx)
    }

    function clearCheckAndFetch() {
      localStorage.removeItem('weathers-cache')
      checkAndFetch()
    }

    window.autoRefresher.addCallback(clearCheckAndFetch)

    watch(windowCtx, checkDevice)

    checkAndFetch()

    return {
      weathers,
      switchWeather
    }
  }
})
</script>
<style lang="scss">
@import '~@styles/consts.scss';

.cards {
  height: 100vh;
  margin-top: $navbar-height;
  flex-direction: column;
  cursor: pointer;
}

@media only screen and (max-device-width: $mobile-width-limit) {
  .cards {
    .card:last-child {
      margin-bottom: 0;
    }

    &::after {
      content: '';
      min-height: $card-padding-y;
      width: 100%;
    }
  }
}

@media only screen and (min-device-width: $mobile-width-limit + 1) {
  .cards {
    flex-direction: row;
    margin-top: 0;
  }
}
</style>
