<template>
  <div class="detail-item d-flex flex-col">
    <caption>
      {{
        detail.caption
      }}
    </caption>
    <div class="text-align-center">
      {{ detail.value }}<span>{{ unitSymbol }}</span>
    </div>
  </div>
</template>
<script>
import { defineComponent, computed } from 'vue'
import { Units } from '@/helpers/measureUnits'

export default defineComponent({
  props: {
    detail: {
      type: Object,
      required: true
    }
  },
  setup(props) {
    const unitSymbol = computed(() => {
      if (props.detail.caption) {
        const { symbol } = Units[props.detail.caption]

        return symbol
      }

      return null
    })

    return {
      unitSymbol
    }
  }
})
</script>
<style lang="scss" scoped>
@import '~@styles/colors.scss';
@import '~@styles/consts.scss';

.detail-item {
  margin: 0 5px;

  > caption {
    text-transform: uppercase;
    font-size: 8px;
    color: $light-gray;
  }

  > div {
    margin-top: 5px;
    font-size: 12px;

    > span {
      font-size: 9px;
    }
  }
}

@media only screen and (max-width: $mobile-width-limit) {
  .detail-item {
    > caption {
      font-size: 12px;
    }

    > div {
      font-size: 16px;

      > span {
        font-size: 11px;
      }
    }
  }
}

@media only screen and (min-width: $desktop-width-limit) {
  .detail-item {
    margin: 0 auto;

    > caption {
      font-size: 12px;
    }

    > div {
      font-size: 16px;

      > span {
        font-size: 11px;
      }
    }
  }
}
</style>
