<template>
  <div class="details d-flex justify-content-space-around">
    <WeatherDetailItem
      v-for="(detail, i) in detailsMap"
      :key="i"
      :detail="detail"
    />
  </div>
</template>
<script>
import { computed, defineComponent } from 'vue'
import WeatherDetailItem from './WeatherDetailItem.vue'

const detailsToShow = ['humidity', 'pressure']

export default defineComponent({
  components: {
    WeatherDetailItem
  },
  props: {
    details: {
      type: Object,
      required: true
    }
  },
  setup(props) {
    const detailsMap = computed(() => {
      return detailsToShow.map((key) => ({
        caption: key,
        value: props.details[key]
      }))
    })

    return {
      detailsMap
    }
  }
})
</script>
<style lang="scss" scoped>
@import '~@styles/consts.scss';

.details {
  margin: auto 20px 16px 20px;
}

@media only screen and (min-width: $desktop-width-limit) {
  .details {
    margin: auto initial 16px initial;
  }
}
</style>
