<template>
  <Navbar />
  <Weather />
</template>

<script>
import { defineComponent } from 'vue'
import Navbar from './Navbar.vue'
import Weather from '../weather/Weather.vue'

export default defineComponent({
  components: {
    Navbar,
    Weather
  }
})
</script>

<style></style>
