<template>
  <nav class="divider text-align-center">
    <img class="h-100" src="@/assets/logo.svg" alt="application logo" />
  </nav>
</template>

<script>
export default {}
</script>
<style lang="scss" scoped>
@import '~@styles/consts.scss';
@import '~@styles/colors.scss';

.divider {
  position: fixed;
  border-bottom: solid 1px $divider;
  height: $navbar-height;
  padding: $divider-padding 0;
  background: $white;
  width: 100%;
}
</style>
