<template>
  <main class="d-flex flex-col align-items-center">
    <Layout />
  </main>
</template>

<script>
import { defineComponent } from 'vue'
import Layout from '@/components/layout/Layout.vue'

export default defineComponent({
  components: {
    Layout
  }
})
</script>
<style lang="scss">
@import '~@styles/consts.scss';

main {
  width: 100%;
  overflow-y: auto;
}
</style>
