@import '~@styles/helpers.scss';
@import '~@styles/fonts.scss';
@import '~@styles/colors.scss';
@import '~@styles/card.scss';
@import '~@styles/button.scss';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial;
  color: $dark-gray;
  background: $white;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
