@import '~@styles/colors.scss';

button.btn-pill {
  position: relative;
  border: solid 2px $dark-gray;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  min-width: fit-content;
  transition: all 0.2s ease-in;

  &:hover {
    font-weight: bold;

    &::before {
      position: absolute;
      content: '';
      background: var(--light-gray);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.15;
      border-radius: 20px;
    }
  }
}
