@import './colors.scss';
@import './consts.scss';

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 2px 1px $shadow;
  border-radius: 5px;
  min-height: $card-height;
  transition: width 2s ease;

  margin: $card-margin 0;
  width: $card-width;
  min-width: $card-min-width;

  &.selected {
    min-height: $card-height-selected;
  }
}

@media only screen and (min-width: $mobile-width-limit) and (max-width: $desktop-width-limit) {
  .card {
    margin: 0 10px;
    width: auto;
  }
}

@media only screen and (min-width: $desktop-width-limit) {
  .card {
    margin: 0 $card-margin * 2;
  }
}
