$white: #f1f1f1;
$light-gray: #b4b4b4;
$dark-gray: #737c84;
$blue: #69a3ff;
$orange: #ff9632;
$red: #ed1946;

$card-footer: rgba($white, 0.5);
$divider: #ebebeb;
$shadow: rgba(#333, 0.1);

$colors: (
  "white": $white,
  "light-gray": $light-gray,
  "dark-gray": $dark-gray,
  "blue": $blue,
  "orange": $orange,
  "red": $red
);

:root {
  --white: #{$white};
  --light-gray: #{$light-gray};
  --dark-gray: #{$dark-gray};
  --blue: #{$blue};
  --orange: #{$orange};
  --red: #{$red};
  --card-footer: #{$card-footer};
  --divider: #{$divider};
  --shadow: #{$shadow};
}
