$navbar-height: 56px;

$card-width: 250px;
$card-min-width: 140px;
$card-height: 223px;
$card-height-selected: 270px;
$card-margin: 12.5px;
$card-padding-y: 15px;

$divider-padding: $card-padding-y;

$mobile-width-limit: 360px;
$desktop-width-limit: 800px;
