@font-face {
  font-family: "Helvetica";
  src: url('~@/assets/fonts/Helvetica.ttf') format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url('~@/assets/fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: 600;
}
