@import '~@styles/colors.scss';

/// Flex
.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1 1 auto;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

/// Sizing
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

/// Margins
.my-1 {
  margin: 1em 0;
}

.mb-1 {
  margin-bottom: 1em;
}


/// Text
.text-align-center {
  text-align: center;
}

@each $color-name, $color in $colors {
  .text-fg-#{$color-name} {
    color: #{$color} !important;
  }
}

.text-font-bold {
  font-weight: bold;
}
